.wrapper {
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  padding: 1rem 2rem 3rem;
  overscroll-behavior: contain;
}

.line {
  white-space: nowrap;
}

.clause {
  font-family: monospace;
  font-size: 1rem;
  color: blue;
}

.comment {
  color: grey;
}
